#si-wrapper .silc-btn-button.silc-btn-button-color {
  background-color: rgb(57, 128, 89) !important;
}
body {
  border-bottom: #398059 solid 10px;
  border-top: #398059 solid 10px;
  height: 100vh;
}
.button.is-dark,
.button.is-dark.is-hovered {
  background-color: rgb(57, 128, 89) !important;
  text-transform: uppercase;
}
.container-login {
  margin: 12% 0 0;
}
.container-login h2 {
  padding-bottom: 10px;
}
.question-block {
  width: 72%;
  margin: 0 auto;
}
.question-block .qust {
  width: 75%;
  display: inline-block;
}
.question-block .qust-btn {
  width: 23%;
  display: inline-block;
  text-align: right;
  float: right;
}
.qust-btn .button {
  background: #111 !important;
}
p.formMessage {
  margin-top: 0;
  font-style: italic;
  color: #4bab76;
  font-size: 14px;
  margin-top: 3px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#idholder {
  display: none;
}
iframe {
  max-width: 100%;
  display: block;
  height: 70vh;
}
.cont-login {
  margin-top: 10%;
}
.table td,
.table th {
  border: 1px solid #dbdbdb !important;
}
.table {
  margin-top: 20px;
  width: 95%;
}
.table th {
  background: #dbdbdb;
}
tbody tr:nth-child(even) {
  background: #f1f1f1;
}
@media screen and (max-width: 700px) {
  iframe {
    height: 50vh;
  }
  .question-block {
    width: 98%;
  }
}
